<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @book.caption %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Mrp:</strong>
  <%= @book.mrp %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @book.discount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @book.featured %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @book.stock %>
</p>

<p>
  <strong>Batch details:</strong>
  <%= @book.batch_details %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @book.tags %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @book.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @book.height %>
</p>

<p>
  <strong>Length:</strong>
  <%= @book.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @book.width %>
</p>

<p>
  <strong>Type of book:</strong>
  <%= @book.type_of_book %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Year of publishing:</strong>
  <%= @book.year_of_publishing %>
</p>

<p>
  <strong>Google book link:</strong>
  <%= @book.google_book_link %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Book rating:</strong>
  <%= @book.book_rating %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
